:root {
    --base-color: hsl(var(--hue) 36% 57%);
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --azul-botoes: #2A7AE4;
    --color-caixas: #FBFBFB;
    --color-fundo-azul: #EAF2FD;
    --color-titulos: #464646;
    --hue: 200;
    --body-color: hsl(0 0% 98%);
    --body-font: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sessão Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0px 9rem;
}

section header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-titulos);
}

header img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav .menu__nav {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu__nav ul {
    display: none;
}

nav.show .menu__nav {
    opacity: 1;
    visibility: visible;
    background: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

}

/* toggle menu */
.toggle {
    position: relative;
    right: 1rem;
}

nav.show .icon-menu {
    visibility: hidden;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute;

    transition: 0.2s;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 0.2rem;
}

section.menu nav ul.menu__list a:hover {
    color: rgba(131, 68, 68, 0.596);
}

nav.show .menu__nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Sessão Title*/



div.title__div {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

section.title img.title__profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

div.title__container {
    width: 800px;
}

div.title__container h2 {
    font-size: 3rem;
    line-height: 3.125rem;
    margin-bottom: 1rem;

}

div.title__container h3 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 600px;
    text-align: justify;
}

div.title__container ul.title__network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 500px;

}

.divider-1 {
    height: 1px;
    background: linear-gradient(270deg,
            hsla(var(--hue), 36%, 57%, 1),
            hsla(var(--hue), 65%, 88%, 0.34));
}

.divider-2 {
    height: 1px;
    background: linear-gradient(270deg,
            hsla(var(--hue), 65%, 88%, 0.34),
            hsla(var(--hue), 36%, 57%, 1));
}

/*Sessão About*/

section.about {
    padding: 3.875rem 10.25rem;
    background-color: var(--color-fundo-azul);
}

section.about div.about__container {
    width: 800px;
}

section.about h3 {
    font-size: 2rem;
}

section.about div.about__container p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/*Sessão Skills*/

section.skills {
    padding: 4rem 10.25rem;
    background-color: var(--cor-de-fundo);

}

section.skills h3 {
    display: flex;
    justify-content: center;
}

section.skills div.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

section.skills div.skills__line div.skills__box {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    margin: 1.4375rem 1rem 1.4375rem 0.5rem;
    width: 120px;
    height: 160px;
    background-color: var(--color-caixas);
}

section.skills div.skills__line div.skills__box ul {
    margin: 0;
    padding: 0;
}

/*Sessão Hobbies*/

section.hobbies {
    padding: 4rem 10.25rem;
    background-color: var(--cor-de-fundo);
}

section.hobbies h3 {
    display: flex;
    justify-content: center;
}

section.hobbies div.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

section.hobbies div.hobbies__line div.hobbies__box {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    margin: 1.4375rem 1rem 1.4375rem 0.5rem;
    width: 120px;
    height: 160px;
    background-color: var(--color-caixas);
}

section.hobbies div.hobbies__line div.hobbies__box ul {
    margin: 0;
    padding: 0;
}

/* Experiência Acadêmica*/

section.academic {
    padding: 4rem 0;
    background-color: var(--color-fundo-azul);
}

section.academic h2 {
    display: flex;
    justify-content: center;
}

section.academic div.academic__courses {
    display: flex;
    justify-content: center;
}

section.academic div.academic__courses__box {
    width: 20rem;
    margin: 0 1rem;
}

section.academic div.academic__courses ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

section.academic div.academic__courses ul li {
    padding: 0;
    margin: 2rem;
}

section.academic div.academic__courses li.academic__courses__item__img {
    background-color: var(--color-caixas);
    padding: 2rem;
}

section.academic div.academic__courses ul li img {
    width: 160px;
    height: 150px;
}

section.courses {
    padding: 4rem 0;

    background-color: var(--color-fundo-azul);
}

section.courses h2 {
    display: flex;
    justify-content: center;
}

section.courses div.programming__courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10.25rem;
}

section.courses div.programming__courses__box {
    width: 15rem;

}

section.courses div.programming__courses ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

section.courses div.programming__courses ul li {
    padding: 0;
    margin: 2rem;
}

section.courses div.programming__courses li.programming__courses__item__img {
    background-color: var(--color-caixas);
    padding: 2rem 0;
}

section.courses div.programming__courses ul li img {
    width: 160px;
    height: 150px;
}

/* experiência*/

section.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background-color: var(--cor-de-fundo);
}

section.experience h2.experience__section__title {
    margin-bottom: 4rem;
}

section.experience div.experience__section {

    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.experience div.experiencie__box {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.experience div.experiencie__box:nth-child(2) {
    flex-direction: row-reverse;
}

section.experience div.experiencie__box:nth-child(4) {
    flex-direction: row-reverse;
}

section.experience div.experiencie__box img {
    width: 752px;
    height: 406px;
    padding: 1rem;
}

section.experience div.experience__info {
    margin: 0;
}

section.experience div.experience__info h2 {
    font-size: 1.2rem;

}

section.experience div.experience__info h3 {
    font-size: 1rem;
    font-weight: 500;

}

section.experience div.experience__info button {
    cursor: pointer;
}

section.experience div.experience__info button.experiencia__botao--repo {
    padding: 1rem;
    width: 6.25rem;
    height: 3.1875rem;
    color: var(--azul-botoes);
    border: 1px solid var(--azul-botoes);
    border-bottom: 2px solid navy;
    border-right: 2px solid navy;
}

section.experience div.experience__info button.experiencia__botao--repo:active {
    transform: translateY(4px);
}

section.experience div.experience__info button.experiencia__botao--demo {
    padding: 1rem;
    width: 6.25rem;
    height: 3.1875rem;
    color: #FFFFFF;
    border: 1px solid var(--azul-botoes);
    border-bottom: 2px solid navy;
    border-right: 2px solid navy;
    background-color: var(--azul-botoes);
}

section.experience div.experience__info button.experiencia__botao--demo:active {
    transform: translateY(4px);
}

/*Contato*/

section.formcontato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 788px;
    background: var(--color-fundo-azul);
}

section.formcontato div.formcontato__contacto {
    display: flex;

}

section.formcontato div.formcontato__contacto div.formcontato--esquerda img {
    width: 400px;
    height: 500px;
    margin-left: 4rem;
}

section.formcontato div.formcontato__contacto div.formcontato__text {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;

}

section.formcontato div.formcontato__contacto div.formcontato__text h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0 0.5rem 0;
    color: #464646;
}

section.formcontato div.formcontato__contacto div.formcontato__text h3 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    color: #464646;
}

section.formcontato div.formcontato__contacto div.formcontato__text h3:nth-child(3) {
    margin: 0 0 2rem 0;
}

section.formcontato div.formcontato__contacto div.formcontato__text form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2rem;
    width: 550px;
    height: 377px;
}

section.formcontato div.formcontato__contacto div.formcontato__text form input {
    border: transparent;
    width: 90%;
    height: 3.5rem;
    border-radius: 4px;

}

section.formcontato div.formcontato__contacto div.formcontato__text form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

section.formcontato div.formcontato__contacto div.formcontato__text form textarea {
    border: transparent;
    width: 90%;
    height: 8.3125rem;
    border-radius: 4px;
}

section.formcontato div.formcontato__contacto div.formcontato__text form button {
    width: 10.3125rem;
    height: 3.1875rem;
    color: #FFFFFF;
    border: 1px solid var(--azul-botoes);
    border-bottom: 2px solid navy;
    border-right: 2px solid navy;
    background-color: var(--azul-botoes);
    cursor: pointer;
}

section.formcontato div.formcontato__contacto div.formcontato__text form button:active {
    transform: translateY(4px);
}

/*footeer*/

section.footer div.footer__rodape {
    display: flex;
    align-items: center;
    justify-content: center;

}

.backtotop img {
    width: 2.5rem;
    height: 2.5rem;
}

.back-to-top {

    position: fixed;
    right: 1rem;
    bottom: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/*Tablet*/
@media (min-width: 1200px) {

    /* Menu */

    /*title*/
    section.title {
        margin: 2rem 0;
        padding: 3.875rem 10.25rem;
    }

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

@media (min-width: 768px) {

    /* Menu */
    nav .menu__nav {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu__nav ul {
        display: flex;
        gap: 1rem;
    }

    nav .menu__nav ul li a.menu__list__item {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    nav .menu__nav ul li a.menu__list__item.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    nav .icon-menu {
        display: none;
    }

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

@media (min-width: 425px) and (max-width: 768px) {

    /*Menu*/

    section.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: flex-end;
        height: 10vh;
        width: 100vw;
        margin: 0;

    }

    /*Titulo*/
    section.title {
        margin: 2rem 0;
    }

    div.title__div {
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-direction: column;
    }

    section.title img.title__profile {
        margin-left: 150px;
        width: 98px;
        height: 98px;
        border-radius: 50%;
    }

    div.title__container {
        width: 100vw;
    }

    div.title__container h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 0;
        margin-left: 5px;
    }

    div.title__container h3 {
        margin-left: 5px;
        font-size: 1rem;
        line-height: 2rem;
        width: 95vw;
        text-align: justify;
    }

    div.title__container ul.title__network {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100vw;

    }

    /*Sessão sobre*/
    section.about {
        padding: 0;
    }

    section.about div.about__container {
        width: 100vw;
    }

    section.about div.about__container p {
        text-align: justify;
        margin: 5px;
    }

    /*Skills*/

    section.skills {
        padding: 0;
        background-color: var(--cor-de-fundo);
    }

    section.skills div.skills__line div.skills__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1rem;
        gap: 0.5rem;
        width: 6rem;
        height: 4rem;
        background-color: var(--color-caixas);
    }

    /*Hobbies*/

    section.hobbies {
        padding: 0;
        background-color: var(--cor-de-fundo);
    }

    section.hobbies div.hobbies__line div.hobbies__box {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1rem;
        gap: 0.5rem;
        width: 6.5rem;
        height: 4rem;
        background-color: var(--color-caixas);
    }

    /*Formação Acadêmica*/
    section.academic {
        padding: 2rem 0;
        background-color: var(--color-fundo-azul);
        width: 100vw;
    }

    section.courses {
        padding: 2rem 0;
        background-color: var(--color-fundo-azul);
        width: 100vw;
    }

    /*Experiência Profissional*/
    section.experience h2.experience__section__title {
        margin-bottom: 2rem;
    }

    section.experience div.experiencie__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.experience div.experiencie__box img {
        width: 18.5rem;
        height: 9rem;
        padding: 1rem;
    }

    section.experience div.experiencie__box:nth-child(2) {
        flex-direction: column;
    }

    section.experience div.experiencie__box:nth-child(4) {
        flex-direction: column;
    }

    /*Contato*/
    section.formcontato div.formcontato__contacto div.formcontato--esquerda img {
        /* width: 400px; */
        /* height: 500px; */
        /* margin-left: 4rem; */
        display: none;
    }

    section.formcontato {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        gap: 10px;
        width: 90vw;
        height: 675px;
        background: var(--color-fundo-azul);
    }

    section.formcontato div.formcontato__contacto div.formcontato__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        width: 90vw;
    }

    section.formcontato div.formcontato__contacto div.formcontato__text form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: justify;
        padding: 0px;
        gap: 2rem;
        width: 80vw;
    }

    .back-to-top {
        right: 1.5rem;
        bottom: 1rem;

    }

    /*Footer*/

}